/* Scrollbar */
body::-webkit-scrollbar {
    width: 0px;
}


/* In your styles.css or a separate CSS module */
.scrollbar-custom::-webkit-scrollbar {
    width: 5px;
    background-color: #131322;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #50505b;
    border-radius: 9px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #131322;
}

.scrollbar-custom {
    scroll-behavior: smooth
}