.scroller {
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, transparent, white 20%, white 80%, transparent);
}

.scroller ul {
    display: flex;
    flex-direction: column;
    position: relative;
}

.scroll-item {
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.animate-scroll {
    animation: scroll var(--scroll-duration, 10s) linear infinite;
}

