/* Custom classes for the flip effect */
.perspective {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  /* Ensure the flip effect on hover */
  .group:hover .group-hover\:rotate-y-180 {
    transform: rotateY(180deg);
  }
  